.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.film-description {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.film-container {
  display: flex;
}

.main-background {
  background-color: #413747;
  color: white;
  min-height: 100vh
}

.footer-background {
  background-color: #665f6c;
  color: white;
  margin-top: 2%;
}

.joinForm {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  background: #eee;
  padding: 1.2em;
  width: 80%
}
.joinForm > label  {
  grid-column: labels;
  grid-row: auto;
  color: black;
}
.joinForm > input,
.joinForm > textarea,
.joinForm > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 1em;
  color:black
}

.formDiv {
  width: 80%;
  margin: 0 auto;
}

.navbar > nav > a {
  color: white;
}

.footer-icon-images {
  padding: 15px;
}

.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 20px;
  line-height: 20px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}